[libdefaults]
    default_realm = {{ kerberos_realm }}

    kdc_timesync = 1
    ccache_type = 4
    forwardable = true
    proxiable = true

    rdns = false

[realms]
    {{ kerberos_realm }} = {
{% for item in kerberos_kdcs %}
        kdc = {{ item }}
{% endfor %}
        admin_server = {{ kerberos_kdcs | first }}
    }

[domain_realm]
        {{ kerberos_realm | lower }} = {{ kerberos_realm }}
        .{{ kerberos_realm | lower }} = {{ kerberos_realm }}
